/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
- grey          #888

***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#ui, #main {
	font-size: 20px;
}
#invalid_table {
	display: none;
}
#ui ul {
	margin: 0;
	list-style-type: none;
}
#ui li {
	margin: 0;
}

/* css 3 buttons from http://www.webdesignerwall.com/demo/css-buttons.html */
button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#ui .white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
#ui .white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
#ui .white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

#ui button {
	float: none;
	margin-bottom: 10px;
	min-width: 240px;
	text-align: left;
	padding-left: 10px;
	padding-right: 0;
}


table#sudoku {
	border: 3px #888 solid;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#sudoku #row-3, #sudoku #row-6 {
	border-top: 3px #888 solid;
}

#sudoku #cell-3, #sudoku #cell-6, #sudoku #cell-12, #sudoku #cell-15,
#sudoku #cell-21, #sudoku #cell-24, #sudoku #cell-30, #sudoku #cell-33,
#sudoku #cell-39,  #sudoku #cell-42, #sudoku #cell-48, #sudoku #cell-51,
#sudoku #cell-57, #sudoku  #cell-60, #sudoku #cell-66, #sudoku #cell-69,
#sudoku #cell-75, #sudoku #cell-78 {
	border-left: 3px #888 solid;
}


#sudoku input[type=text] {
	padding: 0;
	border: none;
	width: 45px;
	height: 45px;
	text-align: center;
	font-size: 45px;
	color: #888;
}


#sudoku td {
	margin: 0;
	padding: 0;
}

#sudoku td.user_value input {
	color: #3333AA;
}



/**************************************/
/*               FOOTER               */
/**************************************/

